
BattleshipServer/obj/Debug/net8.0/

*.db

BattleshipServer/obj/

BattleshipClient/obj/Debug/net8.0-windows/

BattleshipServer/bin/Debug/net8.0/

BattleshipClient/obj/

BattleshipClient/bin/Debug/net8.0-windows/

.vs/ProjectEvaluation/

.vs/BattleshipSolution/v17/

.vs/BattleshipSolution/CopilotIndices/17.12.38.29086/

.vs/BattleshipSolution/DesignTimeBuild/

.vs/BattleshipSolution/FileContentIndex/
