
BattleshipServer/obj/Debug/net8.0/

*.db

BattleshipServer/obj/

BattleshipClient/obj/Debug/net8.0-windows/

BattleshipServer/bin/Debug/net8.0/

BattleshipClient/obj/

BattleshipClient/bin/Debug/net8.0-windows/

.vs/ProjectEvaluation/

.vs/BattleshipSolution/v17/

.vs/BattleshipSolution/CopilotIndices/17.12.38.29086/

.vs/BattleshipSolution/DesignTimeBuild/

.vs/BattleshipSolution/FileContentIndex/
.vs/OPP-BattleshipSolution/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
.vs/OPP-BattleshipSolution/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
.vs/OPP-BattleshipSolution/FileContentIndex/54f6b680-9fd6-4770-9055-57ed7313562a.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/31e32670-5bdb-462c-8fc1-02fbdbccadc8.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/45e384b5-0fca-4301-8c4f-0f8ac5406f88.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/d83c8640-fee7-4f5d-9f05-359c74f689be.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/622fc722-0871-49e6-b8f0-80762a1d179f.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/4465c576-33e0-46e0-b537-592817ebf833.vsidx
.vs/slnx.sqlite
.vs/OPP-BattleshipSolution/FileContentIndex/877210c4-101b-433f-8577-cff130c3201e.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/38d25303-44d4-4600-9c04-f934f095d910.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/5323ca9a-5f12-4c64-8b13-adcef177361e.vsidx
.vs/OPP-BattleshipSolution/FileContentIndex/925f268e-a467-42ec-b749-5900ce921d47.vsidx
/.vs/OPP-BattleshipSolution/FileContentIndex

BattleshipClient/game_log*
